<html>
<head>
<title>Display</title>
<link rel="stylesheet" href="../static/style1.css"> 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div class="doc">
        <img src="../static/uploads/{{data.0 | safe}}" alt="document" width="700px" height="auto">
    </div>
    <div class="displaydwn">
    <a href="../static/uploads/{{data.0 | safe}}" download = "download" class="btn">Download</a>
    </div>
    <div class="display">
        <a href="{{url_for('profile_teacher')}}" class="btn">Back</a>
    </div>

    

</body>
</html>